.sideBarWrapper{
    width: 500px;
    overflow: auto;
    padding: 30px;
    border-radius: 0 3px 3px 0;
}

.bodyWrapper{
    margin-top: 20px;
}

.vectorFiltersWrapper{
    margin-top: 20px;
}

.sectionWrapper{
    margin-top: 20px;
}
.sectionHeader{
    font-weight: bold;
    margin-bottom: 10px;
}

.vectorName{
    font-weight: bold;
    margin-bottom: 10px;
}

.filterWrapper{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
    margin-top: 10px;
    padding: 20px;
}

.filter{
    margin-top: 10px;
}

.filterName{
    font-style: italic;
    margin-bottom: 5px;
}